@use 'mixins-func';
@use 'variables';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
body {
    min-height: 100vh;
    @include variables.font('Raleway');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include variables.font('Oswald');
    color: variables.$heading-color;
    letter-spacing: 2px;
}

p,
a {
    color: variables.$p-color;
}

.header {
    width: 100%;
    height: mixins-func.px-rem(80);
    background-color: transparent;
    z-index: 1;

    &__container {
        height: 100%;
        margin-inline: auto;
        max-width: mixins-func.px-rem(1100);
        @include mixins-func.flexbox(space-between);
    }

    &__logo {

        a {
            @include mixins-func.flexbox(center);
            gap: mixins-func.px_rem(8);
            color: rgb(255 255 255 / .9);

            span {
                font-size: mixins-func.px_rem(20);
                font-weight: 500;
            }

        }
    }
}