@use 'global';
@use 'variables';


::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, transparent, rgb(121, 23, 91));
}
::-webkit-scrollbar-track {
    background: rgb(2 2 2);
}

body {
    overflow-x: hidden;
}

.container {
    position: relative;
    width: calc(100% - 330px);
    min-height: 100vh;
    margin-left: 330px;

    background: linear-gradient(360deg, rgb(18 18 18), rgb( 18 18 18), rgb(20 10 10));
    color: rgb(240 240 240);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 1.5;
    left: 0;
    transition: all 500ms;

    &.active {
        width: calc(100% - 45px);
        left: -285px;
    }

    .content {
        width: 1100px;
        height: 100vh;
        margin-top: 120px;


        .title {
            margin-top: 30px;
            font-size: 40px;
            line-height: 2;
        }

        &__image {
            margin-block: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 370px;
            }
        }


    }
}


.footer {
    position: relative;
    width: calc(100% - 330px);
    height: 80px;
    margin-left: 330px;
    @include variables.font('Oswald');
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgb(18 18 18), rgb(0 0 0));
    color: white;
    left: 0;
    transition: all 500ms;

    &.active {
        width: calc(100% - 45px);
        left: -285px;
    }

}