---
import Header from '../components/header.astro';
import Layout from '../components/layout.astro';
import Menu from '../components/menu.astro';
import Botones from '../components/botones.astro';
import Modal from '../components/modal.astro';
---

<Layout pageTitle="Derivadas" pageDescription="">
	<Menu
		temario_1="Conceptos"
		temario_2="Tipos"
		temario_3="Caracter铆sticas"
		temario_4="Ejemplos"
		temario_5="Aplicaci贸n"
		prev="continuidad"
		home="/"
		next="nosotros"
		href='testDerivadas'
	/>

	<Header title="Derivadas" />

	<Botones
		titleA="Continuidad"
		enlaceI="/"
		title="Derivada"
		titleS="pruebas"
		enlace="derivadas"
	/>

	<section slot="main">
		<Modal
			titleSeccion="Videos Relacionados"
			descripcionSeccion="Aqui podras ver videos relacionados con las Derivadas "

			img1="https://i3.ytimg.com/vi/uK4-s0ojHFg/maxresdefault.jpg"
			iframe1="https://www.youtube.com/embed/uK4-s0ojHFg?si=ft6gIVva0A5yPtza"
			title1="Qu茅 es la derivada? | Concepto de derivada"
			descripcion1="Explicaci贸n de que es la derivada o el concepto de derivada explic谩ndolo como la velocidad en un punto, teniendo en cuenta los incrementos, empezando con el concepto de velocidad media hasta llegar al concepto de derivada de una funci贸n, dentro del curso de Derivadas."

			img2="https://i3.ytimg.com/vi/sR5KYTap0Cg/maxresdefault.jpg"
			iframe2="https://www.youtube.com/embed/sR5KYTap0Cg?si=LfcHW4T7A2eJhb0a"
			title2="DERIVADA DE UNA FUNCIN USANDO LA DEFINICIN"
			descripcion2="explica c贸mo derivar una funci贸n usando el l铆mite que corresponde a la definici贸n de derivada."

			img3="https://i3.ytimg.com/vi/aVNa-J8iB5I/maxresdefault.jpg"
			iframe3="https://www.youtube.com/embed/aVNa-J8iB5I?si=ysIB6mcbfTjagLRv"
			title3="REGLAS DE DERIVACIN"
			descripcion3="隆Hola a todos! En este video r谩pido de 7 minutos, nos adentraremos en el emocionante mundo de las REGLAS DE DERIVACIN. 驴Te preguntas c贸mo obtener la derivada de una funci贸n? 隆No te preocupes! Te voy a dar un repaso completo con ejemplos pr谩cticos que te ayudar谩n a dominar estas reglas en un abrir y cerrar de ojos."
		/>
	</section>
</Layout>
