---
import Header from "../components/header.astro";
import Layout from "../components/layout.astro";
import Menu from "../components/menu.astro";
import Botones from "../components/botones.astro";
import Modal from "../components/modal.astro";
---

<Layout pageTitle="Funciones" pageDescription="">
  <Menu
    temario_1="驴Qu茅 son?"
    id1="#Que_son_las_funciones"
    temario_2="驴Para qu茅 sirven?"
    id2="#Para_que_sirven"
    temario_3="Tipos"
    id3="#Tipos"
    temario_4="Ejemplos"
    id4="#ejemplo"
    prev="/"
    home="/"
    next="limites"
    href="testFunciones"
  />

  <Header title="Funciones" />

  <Botones
    titleA="Home"
    enlaceI="/"
    title="Funciones"
    titleS="Limites"
    enlace="funciones"
  />


  

      <!-- <picture class="content__image">
        <Modal
          iframe="https://www.youtube.com/embed/TzYDhp-6eBw?si=fkue3xK5wQP0iPWE"
          enlaceimg="bg.webp"
          titleD="Funciones"
          descripcion="  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, voluptatum aliquid? Officiis placeat aspernatur fugiat impedit pariatur fugit eligendi dicta!"
          titleC="curso de Funciones"
        />
      </picture> -->
      <section slot="main">
        <Modal 
        titleSeccion="Videos de Funciones"
          descripcionSeccion="Aqui podras ver videos relacionados con las Funciones "
  
          img1="https://i3.ytimg.com/vi/Ll7xfe3HoZE/maxresdefault.jpg"
          iframe1="https://www.youtube.com/embed/Ll7xfe3HoZE?si=k-V441Snh9YJXrL2"
          title1="Funciones"
          descripcion1="Explicaci贸n de los conceptos de relaci贸n y funci贸n, con algunos ejemplos con conjuntos, dentro del curso de Funciones."
  
          img2="https://i3.ytimg.com/vi/bEcZu7HSijw/maxresdefault.jpg"
          iframe2="https://www.youtube.com/embed/bEcZu7HSijw?si=kGbDnYuv5noIwaGm"
          title2="驴QU es UNA FUNCIN?"
          descripcion2="En este video estudiaremos en detalle el CONCEPTO DE FUNCIN, pero para entender mejor esta idea, primero tenemos que revisar conceptos previos como: par ordenado, producto cartesiano, relaciones y finalmente funciones."
  
          img3="https://i3.ytimg.com/vi/onh9C8dv9x4/maxresdefault.jpg"
          iframe3="https://www.youtube.com/embed/onh9C8dv9x4?si=UyXlGAprHtpnjDVA"
          title3="Funciones"
          descripcion3="En el video, veremos c贸mo identificar si una gr谩fica representa o no a una funci贸n o a una relaci贸n, as铆 como definir los conjuntos de dominio y rango."
  
        />
    </section>
    <section class="content"></section>
  </div>
</Layout>
