---
import Header from "../components/header.astro";
import Layout from "../components/layout.astro";
import Menu from "../components/menu.astro";
import Botones from "../components/botones.astro";
import Modal from "../components/modal.astro";
---

<Layout pageTitle="Funciones" pageDescription="">
  <Menu
    temario_1="¿Qué son?"
    id1="#Que_son_las_funciones"
    temario_2="¿Para qué sirven?"
    id2="#Para_que_sirven"
    temario_3="Tipos"
    id3="#Tipos"
    temario_4="Ejemplos"
    id4="#ejemplo"
    prev="/"
    home="/"
    next="limites"
    href="testFunciones"
  />

  <Header title="Funciones" />

  <Botones
    titleA="Home"
    enlaceI="/"
    title="Funciones"
    titleS="Limites"
    enlace="funciones"
  />


  

      <!-- <picture class="content__image">
        <Modal
          iframe="https://www.youtube.com/embed/TzYDhp-6eBw?si=fkue3xK5wQP0iPWE"
          enlaceimg="bg.webp"
          titleD="Funciones"
          descripcion="  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, voluptatum aliquid? Officiis placeat aspernatur fugiat impedit pariatur fugit eligendi dicta!"
          titleC="curso de Funciones"
        />
      </picture> -->
    </section>
    <section class="content"></section>
  </div>
</Layout>
