---
import Header from "../components/header.astro";
import Layout from "../components/layout.astro";
import Menu from "../components/menu.astro";
import Botones from "../components/botones.astro";
import Modal from "../components/modal.astro";
---

<Layout pageTitle="Funciones" pageDescription="">
  <Menu
    temario_1="¿Qué son?"
    id1="#Que_son_las_funciones"
    temario_2="¿Para qué sirven?"
    id2="#Para_que_sirven"
    temario_3="Tipos"
    id3="#Tipos"
    temario_4="Ejemplos"
    id4="#ejemplo"
    temario_5="Test"
    id5="testFunciones"
    prev="/"
    home="/"
    next="limites"
  />

  <Header title="Funciones" />

  <Botones
    titleA="Home"
    enlaceI="/"
    title="Funciones"
    titleS="Limites"
    enlace="funciones"
  />
  
  <div slot="main">
    <section class="content">
      <p class="introduccion">
        Las funciones matemáticas son uno de esos temas que marcan el inicio de
        las matemáticas “más serias”. Muchos estudiantes suelen tener problemas
        con estas y es que con uno de esos conceptos que marcan un antes y un
        después en la asignatura de matemáticas.
      </p>
      <div class="conceptos">
        <h2 id="Que_son_las_funciones" class="title">¿Qué son las funciones?</h2>
        <p class="desc" >
          <figure style="float: right;" typeof="mw:File/Thumb"><a href="/wiki/Archivo:ConstantAcceleration.svg" class="mw-file-description"><img src="//upload.wikimedia.org/wikipedia/commons/thumb/8/81/ConstantAcceleration.svg/275px-ConstantAcceleration.svg.png" decoding="async" width="275" height="268" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/81/ConstantAcceleration.svg/413px-ConstantAcceleration.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/81/ConstantAcceleration.svg/550px-ConstantAcceleration.svg.png 2x" data-file-width="639" data-file-height="622"></a></figure>
          Una función es un objeto matemático que se utiliza para expresar la dependencia entre dos magnitudes, y puede presentarse a través de varios aspectos complementarios. Un ejemplo habitual de función numérica es la relación entre la <a href="/wiki/Posici%C3%B3n" title="Posición">posición</a> y el <a href="/wiki/Tiempo" title="Tiempo">tiempo</a> en el <a href="/wiki/Movimiento_(f%C3%ADsica)" title="Movimiento (física)">movimiento</a> de un cuerpo. 
          <br>
          <br>
          Un móvil que se desplaza con una <a href="/wiki/Aceleraci%C3%B3n" title="Aceleración">aceleración</a> de 0,66 m/s<sup>2</sup> recorre una distancia <i>d</i> que está en función del tiempo transcurrido <i>t</i>. Se dice que <i>d</i> es la variable dependiente y <i>t</i> la variable independiente. Estas magnitudes, calculadas <i>a priori</i> o medidas en un experimento, pueden consignarse de varias maneras. (Se supone que el cuerpo parte en un instante en el que se conviene que el tiempo es <i>t</i> = 0 s.)
          <br><br>
          Los valores de las variables pueden recogerse en una <a href="/wiki/Tabla_(informaci%C3%B3n)" title="Tabla (información)">tabla</a>, anotando la distancia recorrida <i>d</i> en un cierto instante <i>t</i>, para varios momentos distintos:
          <br>
          <br>
          <center>
            <table border="1" style="background:#000" class="wikitable">
            <tbody><tr>
            <th style="width:120px;" style="background:#000;">Tiempo <i>t</i> (s)
            </th>
            <th style="width:120px;" style="background:#000;">Distancia <i>d</i> (m)
            </th></tr>
            <tr style="text-align:center;">
            <td>0,0</td>
            <td align="center">0,0
            </td></tr>
            <tr style="text-align:center;">
            <td>0,5</td>
            <td align="center">0,1
            </td></tr>
            <tr style="text-align:center;">
            <td>1,0</td>
            <td align="center">0,3
            </td></tr>
            <tr style="text-align:center;">
            <td>1,5</td>
            <td align="center">0,7
            </td></tr>
            <tr style="text-align:center;">
            <td>2,0</td>
            <td align="center">1,3
            </td></tr>
            <tr style="text-align:center;">
            <td>2,5</td>
            <td align="center">2,0
            </td></tr></tbody></table>
            </center>
            <br>
            <br>
            La <a href="/wiki/Gr%C3%A1fica_de_una_funci%C3%B3n" title="Gráfica de una función">gráfica</a> en la imagen es una manera equivalente de presentar la misma información. Cada punto de la curva roja representa una pareja de datos tiempo-distancia, utilizando la correspondencia entre puntos y <a href="/wiki/Coordenadas" class="mw-redirect" title="Coordenadas">coordenadas</a> del <a href="/wiki/Plano_cartesiano" class="mw-redirect" title="Plano cartesiano">plano cartesiano</a>. También puede utilizarse una regla o <a href="/wiki/Algoritmo" title="Algoritmo">algoritmo</a> que dicte como se ha de calcular <i>d</i> a partir de <i>t</i>. En este caso, la distancia que recorre un cuerpo con esta aceleración está dada por la expresión:
            <br>
            <br>
            <dl><dd style="background-color: white; display: inline-block;"><span class="mwe-math-element"><span class="mwe-math-mathml-inline mwe-math-mathml-a11y" style="display: none;"><math xmlns="http://www.w3.org/1998/Math/MathML" alttext="{\displaystyle d=0,33\times t^{2}}">
              <semantics>
                <mrow class="MJX-TeXAtom-ORD">
                  <mstyle displaystyle="true" scriptlevel="0">
                    <mi>d</mi>
                    <mo>=</mo>
                    <mn>0</mn>
                    <mo>,</mo>
                    <mn>33</mn>
                    <mo>×<!-- × --></mo>
                    <msup>
                      <mi>t</mi>
                      <mrow class="MJX-TeXAtom-ORD">
                        <mn>2</mn>
                      </mrow>
                    </msup>
                  </mstyle>
                </mrow>
                <annotation encoding="application/x-tex">{\displaystyle d=0,33\times t^{2}}</annotation>
              </semantics>
            </math></span><img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/3529de4cec681f64f87092ccf0f0ccf4c7c0b279" class="mwe-math-fallback-image-inline mw-invert" aria-hidden="true" style="vertical-align: -0.671ex; width:13.57ex; height:3.009ex;" alt="{\displaystyle d=0,33\times t^{2}}"></span></dd></dl>
            <br><br>
            donde las magnitudes se expresan unidades del <a href="/wiki/Sistema_Internacional_de_Unidades" title="Sistema Internacional de Unidades">SI</a>. De estos tres modos se refleja que existe una dependencia entre ambas magnitudes.
            <br></br>
            Una función también puede reflejar la relación de una variable dependiente con varias variables independientes. Si el cuerpo del ejemplo se mueve con una aceleración constante pero indeterminada <i>a</i>, la distancia recorrida es una función entonces de <i>a</i> y <i>t</i>; en particular, <span class="mwe-math-element"><span class="mwe-math-mathml-inline mwe-math-mathml-a11y" style="display: none;"><math xmlns="http://www.w3.org/1998/Math/MathML" alttext="{\displaystyle d={\frac {a\times t^{2}}{2}}}">
              <semantics>
                <mrow class="MJX-TeXAtom-ORD" >
                  <mstyle displaystyle="true" scriptlevel="0">
                    <mi>d</mi>
                    <mo>=</mo>
                    <mrow class="MJX-TeXAtom-ORD">
                      <mfrac>
                        <mrow>
                          <mi>a</mi>
                          <mo>×<!-- × --></mo>
                          <msup>
                            <mi>t</mi>
                            <mrow class="MJX-TeXAtom-ORD">
                              <mn>2</mn>
                            </mrow>
                          </msup>
                        </mrow>
                        <mn>2</mn>
                      </mfrac>
                    </mrow>
                  </mstyle>
                </mrow>
                <annotation encoding="application/x-tex">{\displaystyle d={\frac {a\times t^{2}}{2}}}</annotation>
              </semantics>
            </math></span><img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/c2df2bcfe2717ef0661642882257d90ca329f3c6" class="mwe-math-fallback-image-inline mw-invert" aria-hidden="true" style="vertical-align: -1.838ex; width:11.115ex; height:5.676ex;" alt="{\displaystyle d={\frac {a\times t^{2}}{2}}}"></span>. Las funciones también se utilizan para expresar la dependencia entre otros objetos cualesquiera, no solo los números. Por ejemplo, existe una función que a cada <a href="/wiki/Pol%C3%ADgono" title="Polígono">polígono</a> le asigna su número de <a href="/wiki/Pol%C3%ADgono#Elementos_de_un_polígono" title="Polígono">lados</a>; o una función que a cada día de la semana le asigna el siguiente:      
        </p>

        <h2 id="Para_que_sirven" class="title">¿Para qué sirven?</h2>
        <p class="desc" >
         Si has comprendido lo que es una<span style="font-weight: bold;"> función matemática</span>, entenderás que pueden tener muchas utilidades, puesto que representan relaciones entre variables, algo muy frecuente en matemáticas. Lo mejor de todo es que las funciones matemáticas no solo tienen usos dentro de la ciencia, 🧪 sino que podemos verlas en un montón de situaciones en nuestro día a día. Por ejemplo, cada individuo de tu clase tendrá asociado un peso y una altura, variables que están relacionadas entre sí.&nbsp;&nbsp;
        </p>

        <h2 id="Tipos" class="title">Tipos de funciones matemáticas</h2>
        <p class="desc" >
          Las funciones matemáticas pueden clasificarse de acuerdo al tipo de correspondencia que se da entre los elementos del dominio A y los de B, teniendo así lo siguiente.
          <br></br>
          <h3>Función inyectiva</h3>
          <hr style="width: 200px; border-bottom:3px solid #fff;">
          <br>
          <p>Cualquier función será inyectiva si elementos distintos del dominio A se corresponden con elementos distintos del B, es decir, que ningún elemento del dominio se corresponde con la misma imagen de otro.</p>
          <br><br>
          <h3>Función subyectiva</h3>
          <hr style="width: 200px; border-bottom:3px solid #fff;">
          <br>
          <p>Similarmente, hablaremos de una función subyectiva cuando a cada elemento del dominio A le corresponde una imagen en el B, incluso si ello implica compartir imágenes.</p>
          <br></br>
          <h3>Función biyectiva</h3>
          <hr style="width: 200px; border-bottom:3px solid #fff;">
          <br>
          <p>Ocurre cuando una función es inyectiva y subyectiva a la vez, es decir, cuando a cada elemento de A le corresponde un único elemento de B, y no quedan en el condominio (imagen) imágenes sin asociar, o sea, no hay elementos en B que no correspondan a uno en A.</p>
        </p>

        <h2 id="ejemplo" class="title">Ejemplos</h2>
        <p class="desc" >
          <ul>
            <h2>  
            <hr style="width:100%;"></a><font color="#008080">Función
            constante: <i>f(x)=k</i>, donde <i>k</i> es alguna constante</font></h2>
            &nbsp;
            <center><table border="" cols="1" width="44%">
            <tbody><tr>
            <td><img src="func_graf_06.gif" height="171" width="425"></td>
            </tr>
            </tbody></table></center>
            &nbsp;
            <center>&nbsp;</center>
            <font size="+1">&nbsp;&nbsp;&nbsp; ¿Qué tienen en común
            todas las gráficas?</font> <font size="+1">¿En qué difieren?</font>
            <br>&nbsp;
            <br>&nbsp;
            <h2>
            
            <hr style="width:100%;"><font color="#008080">Función
            lineal: <i>f(x) = ax + b</i></font></h2>
            &nbsp;
            <center><table border="" cellpadding="0" cols="2" width="511">
            <tbody><tr>
            <td><img src="func_graf_07.gif" height="256" width="261"></td>
            
            <td><img src="func_graf_11.gif" height="256" width="261"></td>
            </tr>
            
            <tr>
            <td><img src="func_graf_08.gif" height="256" width="261"></td>
            
            <td><img src="func_graf_10.gif" height="256" width="261"></td>
            </tr>
            </tbody></table></center>
            &nbsp;
            <center>&nbsp;</center>
            <font size="+1">&nbsp;&nbsp;&nbsp; ¿Qué tienen en común
            todas las gráficas?</font> <font size="+1">¿En qué difieren?</font>
            <br>&nbsp;
            <br>&nbsp;
            <h2>
            
            <hr style="width:100%;"><font color="#008080">Función
            cuadrática:<br>
            <i>f(x)= ax<sup>2</sup> + bx + c = a(x - x<sub>0</sub>)<sup>2</sup> + y<sub>0</sub></i></font></h2>
            
            <center><table border="" cellpadding="10" width="524">
            <tbody><tr>
            <td><font size="+1">El punto rojo se llama <b><font color="#008080">vértice</font></b>
            de la parábola.&nbsp;</font>&nbsp;
            
            <p><font size="+1">¿Cuáles son sus coordenadas?&nbsp;</font>&nbsp;
            
            </p><p><font size="+1">¿Cómo se relacionan las coordenadas del&nbsp;</font>
            <font size="+1">vértice con los números en la forma&nbsp;</font>&nbsp;
            <br><i><font size="+1">f(x)= a(x-x<sub>0</sub>)<sup>2 </sup>+ y<sub>0</sub>?</font></i></p></td>
            
            <td>
            <center><img src="func_graf_12.gif" height="186" width="263"></center>
            
            <center><i><font face="Times New Roman,Times"><font size="+1">f(x)= x<sup>2</sup>
            + 2 x + 1 = (x + 1)<sup>2</sup></font></font></i></center>
            
            <center>&nbsp;</center>
            </td>
            </tr>
            
            <tr>
            <td><font size="+1">El punto rojo se llama <b><font color="#008080">vértice</font></b>
            de la parábola.&nbsp;</font>&nbsp;
            
            <p><font size="+1">¿Cuáles son sus coordenadas?&nbsp;</font>&nbsp;
            
            </p><p><font size="+1">¿Cómo se relacionan las coordenadas del&nbsp;</font>
            <font size="+1">vértice con los números en la forma&nbsp;</font>&nbsp;
            <br><i><font size="+1">f(x)= a(x-x<sub>0</sub>)<sup>2 </sup>+ y<sub>0</sub>?</font></i></p></td>
            
            <td>
            <center><img src="func_graf_13.gif" height="186" width="263"></center>
            
            <center><i><font size="+1">f(x)= 2 x<sup>2 </sup>+ x = (x + 1)<sup>2 </sup>-
            1</font></i></center>
            
            <center>&nbsp;</center>
            </td>
            </tr>
            
            <tr>
            <td><font size="+1">El punto rojo se llama <b><font color="#008080">vértice</font></b>
            de la parábola.&nbsp;</font>&nbsp;
            
            <p><font size="+1">¿Cuáles son sus coordenadas?&nbsp;</font>&nbsp;
            
            </p><p><font size="+1">¿Cómo se relacionan las coordenadas del&nbsp;</font>
            <font size="+1">vértice con los números en la forma&nbsp;</font>&nbsp;
            <br><i><font size="+1">f(x)= a(x-x<sub>0</sub>)<sup>2 </sup>+ y<sub>0</sub>?</font></i></p></td>
            
            <td>
            <center><pre><img src="func_graf_14.gif" height="186" width="263"></pre></center>
            
            <center><i><font size="+1">f(x)= 2 x - x<sup>2</sup><font face="Times New Roman,Times">&nbsp;</font>
            = 1 - (x - 1)<sup>2</sup></font></i></center>
            
            <center>&nbsp;</center>
            </td>
            </tr>
            
            <tr>
            <td><font size="+1">El punto rojo se llama <b><font color="#008080">vértice</font></b>
            de la parábola.&nbsp;</font>&nbsp;
            
            <p><font size="+1">¿Cuáles son sus coordenadas?&nbsp;</font>&nbsp;
            
            </p><p><font size="+1">¿Cómo se relacionan las coordenadas del&nbsp;</font>
            <font size="+1">vértice con los números en la forma&nbsp;</font>&nbsp;
            <br><i><font size="+1">f(x)= a(x-x<sub>0</sub>)<sup>2 </sup>+ y<sub>0</sub>?</font></i>&nbsp;
            
            </p><p><font size="+1">¿Qué significancia tienen los números
            <i><font color="#008080">a</font>, <font color="#008080">x<sub>0</sub></font>,
            <font color="#008080">y<sub>0</sub></font></i> para la gráfica de
            la función</font>&nbsp;
            <br><i><font size="+1">f(x)= a(x-x<sub>0</sub>)<sup>2 </sup>+ y<sub>0</sub>?</font></i></p></td>
            
            <td><img src="func_graf_15.gif" height="186" width="263">&nbsp;
            <center><table border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
            <td><i><font face="Times New Roman,Times">f(x)</font></i></td>
            
            <td><i><font face="Times New Roman,Times">= 10 + 2 x - 2 x<sup>2</sup></font></i></td>
            </tr>
            
            <tr>
            <td></td>
            
            <td>
            <table border="0">
            <tbody><tr>
            <td></td>
            
            <td>
            <center><i><font face="Times New Roman,Times">21</font></i></center>
            </td>
            
            <td>
            <center>&nbsp;</center>
            </td>
            
            <td>
            <center><i><font face="Times New Roman,Times">1</font></i></center>
            </td>
            
            <td>
            <center>&nbsp;</center>
            </td>
            </tr>
            
            <tr>
            <td>
            <center><i><font face="Times New Roman,Times">=&nbsp;</font></i></center>
            </td>
            
            <td>
            <center>
            <hr style="width:100%;"></center>
            </td>
            
            <td>
            <center><i><font face="Times New Roman,Times">- 2 [-(</font></i></center>
            </td>
            
            <td>
            <center>
            <hr style="width:100%;"></center>
            </td>
            
            <td>
            <center><i><font face="Times New Roman,Times">) + x<sup>2</sup>]</font></i></center>
            </td>
            </tr>
            
            <tr>
            <td>
            <center>&nbsp;</center>
            </td>
            
            <td>
            <center><i><font face="Times New Roman,Times">2</font></i></center>
            </td>
            
            <td>
            <center>&nbsp;</center>
            </td>
            
            <td>
            <center><i><font face="Times New Roman,Times">2</font></i></center>
            </td>
            
            <td>
            <center>&nbsp;</center>
            </td>
            </tr>
            </tbody></table>
            &nbsp;</td>
            </tr>
            </tbody></table></center>
            &nbsp;</td>
            </tr>
            </tbody></table></center>
            <i><font face="Times New Roman,Times">&nbsp;</font></i>
            <br>&nbsp;
            <br>&nbsp;
            <h2>
            
            <hr style="width:100%;"></a><b><font color="#008080">Función
            polinomial</font></b></h2>
            &nbsp;
            <center><table border="">
            <tbody><tr>
            <td>
            <center><i><font color="#000000"><font size="+1">P(x) = x<sup>3</sup> - 3x<sup>2</sup>
            + 2x - 7</font></font></i></center>
            <img src="func_graf_16.gif" height="186" width="300"></td>
            </tr>
            </tbody></table></center>
            &nbsp;
            <br>&nbsp;
            <h2>
            
            <hr style="width:100%;"><font color="#008080">Función
            racional</font></h2>
            <font color="#008080"><font size="+1">Una función racional es un cociente
            de dos polinomios, <i>f(x) = P(x) / Q(x)</i></font></font>
            <br>&nbsp;
            <center><table border="">
            <tbody><tr>
            <td>
            <center><table border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
            <td></td>
            
            <td>
            <center><i><font size="+1">x + 4</font></i></center>
            </td>
            </tr>
            
            <tr>
            <td><i><font size="+1">f(x) =&nbsp;</font></i></td>
            
            <td>
            <center>
            <hr style="width:100%;"></center>
            </td>
            </tr>
            
            <tr>
            <td>
            <center>&nbsp;</center>
            </td>
            
            <td>
            <center><i><font size="+1">x<sup>2</sup> - 16</font></i></center>
            </td>
            </tr>
            </tbody></table></center>
            <img src="func_graf_17.gif" height="186" width="300"></td>
            </tr>
            </tbody></table></center>
            <font size="+1">&nbsp;</font>
            <br><font size="+1">&nbsp; ¿Qué sucede en los valores de <i>x</i>
            en los que el denominador es igual a cero?</font>
            <br>&nbsp;
            <br>&nbsp;
            <h2>
            
            <hr style="width:100%;"><font color="#008080">Función
            potencia:</font><i> <b><font color="#008080">f(x)= k x<sup>n</sup></font></b></i></h2>
            <font color="#008080"><font size="+1" >En donde <i>k</i> es cualquier constante
            real y <i>n</i> es un número real.</font></font>
            
            <p><font size="+1"><font color="#008080">&nbsp;&nbsp;&nbsp; </font><font color="#ffffff">Por
            lo pronto nos restringiremos a exponentes racionales. Funciones como <i>x<sup>Pi</sup></i><sup>
            </sup>serán discutidas más tarde. El dominio de una función
            potencia depende del exponente <i>n</i>.</font></font>
            <br>&nbsp;
            <br>&nbsp;</p></ul>

            <center><table border="" cellpadding="0" >
              <tbody><tr>
              <td>
              <center><i><font size="+1">f(x)= x<sup>-1</sup></font></i></center>
              
              <center>&nbsp;</center>
              
              <center><img src="func_graf_18.gif" height="186" width="275">&nbsp;</center>
              </td>
              
              <td>
              <center><i><font size="+1">f(x)= x<sup>1/3</sup></font></i></center>
              
              <center>&nbsp;</center>
              
              <center><img src="func_graf_19.gif" height="186" width="275">&nbsp;</center>
              </td>
              </tr>
              
              <tr>
              <td>
              <center><i><font size="+1">f(x)= x<sup>1/2</sup></font></i></center>
              
              <center>&nbsp;</center>
              
              <center><img src="func_graf_20.gif" height="186" width="275">&nbsp;</center>
              </td>
              
              <td>
              <center><i><font size="+1">f(x)= x<sup>2/3</sup></font></i></center>
              
              <center>&nbsp;</center>
              
              <center><img src="func_graf_21.gif" height="186" width="275"><i><font size="+1">&nbsp;</font></i></center>
              </td>
              </tr>
              </tbody></table></center>
        </p>
	    </div>
      <picture class="content__image">
        <!-- <img src="PolygonsFunction.svg" alt="" /> -->
        <Modal
          iframe="https://www.youtube.com/embed/TzYDhp-6eBw?si=fkue3xK5wQP0iPWE"
          enlaceimg="bg.webp"
          titleD="Funciones"
          descripcion="  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, voluptatum aliquid? Officiis placeat aspernatur fugiat impedit pariatur fugit eligendi dicta!"
          titleC="curso de Funciones"
        />
      </picture>
    </section>
    <section class="content"></section>
  </div>
</Layout>
