---
import '../css/index.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="TeachMathX es un sitio web dedicado al cálculo diferencial. En el podrás encontrar materiales relacionado a la asignatura, que te ayudará a mejorar en la misma."
		/>
		<link rel="shortcut icon" href="logo.svg" type="image/svg">
		<title>TeachMathX</title>
	</head>

	<body>
		<header class="header">
			<div class="header__container">
				<div class="header__logo">
					<a href="/">
						<img src="logo.svg" alt="logo" />
						<span>TeachMathX</span>
					</a>
				</div>
				<div class="header__dark">
					<label class="toggle">
						<input type="checkbox" id="sliderCheckbox" />
						<small></small>
					</label>
				</div>
			</div>
		</header>
	</body>

	<nav class="nav">
		<div class="nav__slider">
			<div class="nav__item funciones">
                <div class="nav__content">
                    <span class="nav__materia">Cálculo Diferencial</span>
                    <h2 class="nav__title">Funciones</h2>
                    <p class="nav__description">
                        Una función es como un puente entre dos mundos matemáticos. Representada como <span>\(y = f(x)\)</span> asigna a cada valor de la variable independiente <span>\(x\)</span> un valor único de la variable dependiente <span>\(y\)</span>. Estas funciones pueden describir una amplia gama de fenómenos, desde el movimiento de planetas hasta el crecimiento de poblaciones.
                    </p>
                    <div class="nav__btn">
                        <a href="funciones" title="¿Quieres conocer más?">Aprender más</a>
                        <a href="testFunciones" title="¿Deseas probar tus habilidades?">Tomar test</a>
                    </div>
                </div>
                <div class="nav__subtitle">
                    <div class="nav__subtitle--content">
                        <span class="nav__subtitle--materia">Cálculo Diferencial</span>
                        <h2 class="nav__subtitle--head">Funciones</h2>
                    </div>
                </div>
            </div> <!--!Funciones-->
            <div class="nav__item limites">
                <div class="nav__content">
                    <span class="nav__materia">Cálculo Diferencial</span>
                    <h2 class="nav__title">Límites</h2>
                    <p class="nav__description">
                        Al observar el comportamiento de una función cerca de un punto específico, nos encontramos con el concepto de límites. El límite de una función en un punto es el valor al cual la función se aproxima a medida que la variable independiente se acerca a ese punto. Es como explorar las fronteras de lo posible en el mundo matemático.
                    </p>
                    <div class="nav__btn">
                        <a href="limites">Aprender más</a>
                        <a href="testLimites">Tomar test</a>
                    </div>
                </div>
                <div class="nav__subtitle">
                    <div class="nav__subtitle--content">
                        <span class="nav__subtitle--materia">Cálculo Diferencial</span>
                        <h2 class="nav__subtitle--head">Límites</h2>
                    </div>
                </div>
            </div> <!--!Límites-->
            <div class="nav__item continuidad">
                <div class="nav__content">
                    <span class="nav__materia">Cálculo Diferencial</span>
                    <h2 class="nav__title">Continuidad</h2>
                    <p class="nav__description">
                        Imagina seguir el recorrido de una función sin saltos ni quiebres. Decimos que una función es continua si no hay interrupciones en su trayectoria. Esto implica que el valor de la función en un punto coincide con el valor al cual se acerca a medida que te acercas más a ese punto.
                    </p>
                    <div class="nav__btn">
                        <a href="continuidad">Aprender más</a>
                        <a href="testContinuidad">Tomar test</a>
                    </div>
                </div>
                <div class="nav__subtitle">
                    <div class="nav__subtitle--content">
                        <span class="nav__subtitle--materia">Cálculo Diferencial</span>
                        <h2 class="nav__subtitle--head">Continuidad</h2>
                    </div>
                </div>
            </div> <!--!Continuidad-->
            <div class="nav__item derivadas">
                <div class="nav__content">
                    <span class="nav__materia">Cálculo Diferencial</span>
                    <h2 class="nav__title">Derivadas</h2>
                    <p class="nav__description">
                        La derivada de una función captura la esencia del cambio instantáneo. En términos más simples, es la tasa de cambio de una función en un punto específico. Visualmente, la derivada representa la inclinación de la tangente a la curva de la función en ese punto, proporcionando una visión detallada de cómo la función evoluciona.
                    </p>
                    <div class="nav__btn">
                        <a href="derivadas">Aprender más</a>
                        <a href="testDerivadas">Tomar test</a>
                    </div>
                </div>
                <div class="nav__subtitle">
                    <div class="nav__subtitle--content">
                        <span class="nav__subtitle--materia">Cálculo Diferencial</span>
                        <h2 class="nav__subtitle--head">Derivadas</h2>
                    </div>
                </div>
            </div> <!--!Derivadas-->
            <div class="nav__item nosotros">
                <div class="nav__content">
                    <span class="nav__materia">Cálculo Diferencial</span>
                    <h2 class="nav__title">Nosotros</h2>
                    <p class="nav__description">
                        Somos un equipo apasionado de tres estudiantes del ITLA dedicados a hacer que el cálculo diferencial sea accesible y emocionante para todos. En nuestra travesía académica, hemos creado TeachMathX con el objetivo de compartir la belleza y la utilidad del cálculo diferencial.
                    </p>
                    <div class="nav__btn">
                        <a href="nosotros">Ver más</a>
                    </div>
                </div>
                <div class="nav__subtitle">
                    <div class="nav__subtitle--content">
                        <span class="nav__subtitle--materia">Cálculo Diferencial</span>
                        <h2 class="nav__subtitle--head">Nosotros</h2>
                    </div>
                </div>
            </div> <!--!Nosotros-->
		</div>

		<div class="nav__preview">
			<button class="prev">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 8 14"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M7 1 1.3 6.326a.91.91 0 0 0 0 1.348L7 13"></path>
				</svg>
			</button>
			<button class="next">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 8 14"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"></path>
				</svg>
			</button>
		</div>
	</nav>

	<script>
		const next = document.querySelector('.next');
		const prev = document.querySelector('.prev');

		let interval;

		next.addEventListener('click', () => {
			moveSlider('next');
			stopAutoSlide();
		});

		prev.addEventListener('click', () => {
			moveSlider('prev');
			stopAutoSlide(); // Detiene la animación automática al navegar manualmente
		});

		document.addEventListener('keydown', (event) => {
			if (event.code === 'ArrowRight') {
				moveSlider('next');
				stopAutoSlide();
			} else if (event.code === 'ArrowLeft') {
				moveSlider('prev');
				stopAutoSlide();
			}
		});

		function moveSlider(direction) {
			const items = document.querySelectorAll('.nav__item');
			const slider = document.querySelector('.nav__slider');

			if (direction === 'next') {
				slider.appendChild(items[0]);
			} else if (direction === 'prev') {
				slider.prepend(items[items.length - 1]);
			}
		}

		function startAutoSlide() {
			interval = setInterval( () => {
				moveSlider('next');
			}, 5000); // Cambia de slide cada 5 segundos
		}

		function stopAutoSlide() {
			clearInterval(interval);
		}

		// Inicia la animación automática al cargar la página
		startAutoSlide();
	</script>

	<script
		type="text/javascript"
		async
		src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"
	></script>
</html>
