---
import Header from '../components/header.astro';
import Layout from '../components/layout.astro';
import Menu from '../components/menu.astro';
import Botones from '../components/botones.astro';
import Modal from '../components/modal.astro';
---

<Layout pageTitle="Límites" pageDescription="">
	<Menu
		temario_1="¿Qué es el límite?"
		id1="#que_es_el_limite"
		temario_2="¿Cómo entender bien el límite?"
		id2="#como_entender_el_limite"
		temario_3="Propiedades de los límites"
		id3="#propiedades_de_los_limites"
		temario_4="Tipos de límites"
		id4="#tipos_de_limites"
		temario_5="Ejemplos de límites"
		id5="#ejemplos_de_limites"
		prev="funciones"
		home="/"
		next="continuidad"
		href="testLimites"
	/>

	<Header title="Límites" />

	<Botones
		titleA="Funciones"
		enlaceI="index"
		title="Limites"
		titleS="continuidad"
		enlace="limites"
	/>

	<section slot="main">
		<section class="content">
			<p>
				Un <strong>límite</strong> nos dice el valor al que una función
				se aproxima conforme sus valores de entrada se acercan cada vez
				más a cierto número. El concepto de límite es la base de todo el
				cálculo.
			</p>

			<h2 class="title" id="que_es_el_limite">¿Qué es el límite?</h2>
			<p>
				El límite es un concepto fundamental que describe el
				comportamiento de una función a medida que la variable
				independiente se acerca a cierto valor específico. Se utiliza
				para entender y calcular el valor al que se aproxima una función
				cuando la variable independiente se acerca cada vez más a un
				determinado punto. <br /> <br /> Formalmente, se dice que el límite de una función <span>\(f(x)\)</span> cuando <span>\(x\)</span> tiende hacia un valor <span>\(a\)</span> (denotando como <span>\( lim_x→a\)</span> <span>\(f(x)\)</span>) es el valor al que se acerca <span>\(f(x)\)</span> a medida que los valores de <span>\(x\)</span> se acercan a <span>\(a\)</span> sin llegar a ser igual a <span>\(a\)</span>.
			</p>
			<br />
			<p>
				El concepto de límite es crucial en cálculo y análisis matemático, ya que permite comprender el comportamiento de funciones en puntos específicos, determinar la continuidad de una función, encontrar derivadas e integrales, y resolver problemas relacionados con la convergencia de series, entre otras aplicaciones en matemáticas y ciencias.
			</p>

			<h2 class="title" id="como_entender_el_limite">¿Cómo entender bien a los límites?</h2>

			<p>
				Para entender qué son los límites, consideremos un
				ejemplo. Empezamos con la función <span>\(f(x) = x + 2\)</span>.
			</p>

			<picture class="content__image">
				<img src="limite-1.png" alt="Función de polígonos" />
			</picture>

			<p>
				El límite de <span>\(f\)</span> en <span>\(x = 3\)</span> es el
				valor al cual se aporxima <span>\(f\)</span> a medida que nos
				acercamos más y más a <span>\(x = 3\)</span>. Gráficamente, es
				el valor de <span>\(y\)</span> al que tendremos en la gráfica de

				<span>\(f\)</span> al acercarnos más y más al punto de la
				gráfica donde <span>\(x = 3\)</span>. <br />
				<br /> Por ejemplo, si partimos del punto <span>\((1,3)\)</span>
				y nos movemos en la gráfica hasta estar muy cerca de <span
					>\(x = 3\)</span
				>, entonces nuestro valor <span>\(y\)</span> (es decir, el valor
				de la función) está muy cerca de <span>\(5\)</span>.
			</p>

			<picture class="content__image">
				<img src="limite-2.gif" alt="grafico de limites" />
			</picture>

			<p>
				Similarmente, si empezamos en <span>\((5, 7)\)</span> y nos
				movemos a la izquierda hasta estar muy cerca de <span
					>\(x = 3\)</span
				>, el valor <span>\(y\)</span> nuevamente estará muy cerca de <span
					>\(5\)</span
				>.
			</p>

			<picture class="content__image">
				<img src="limite-3.gif" alt="grafico de limites" />
			</picture>

			<p>
				Por estas razones, decimos que <strong
					>el límite de <span>\(f\)</span> en <span>\(x = 3\)</span>
					es <span>\(5\)</span></strong
				>.
			</p>

			<picture class="content__image">
				<img src="limite-4.png" alt="grafico de limites" />
			</picture>

			<p>
				Tal vez te preguntes cuál es la diferencia entre el límite de <span>\(f\)</span> en <span>\(x = 3\)</span> y el valor de <span>\(f\)</span> en <span>\(x = 3\)</span>, es decir, <span>\(f(3)\)</span>. <br /> <br/ > Y sí, el límite de <span>\(f(x) = x + 2\)</span> en <span>\(x = 3\)</span> es igual a <span>\(f(3)\)</span>, pero este no siempre es el caso. Para entender esto, consideremos la función <span>\(g\)</span>. Esta función es igual a <span>\(f\)</span>, excepto que no está definida para <span>\(x = 3\)</span>.
			</p>

			<picture class="content__image">
				<img src="limite-5.png" alt="grafico de limites" />
			</picture>

			<h2 class="title" id="propiedades_de_los_limites">Propiedades de los límites</h2>
			<p>
				Las propiedades de los límites son operaciones que se pueden emplear para simplificar el cálculo del límite de una función más compleja. Al tratarse de operaciones, también se le denomina álgebra de los límites. <br /> <br/ > Sean <span>\(f(x)\)</span> y <span>\(g(x)\)</span> dos funciones definidas en un mismo intervalo en donde está el valor a del límite y <span>\(k\)</span> una constante.
			</p>

			<picture class="content__image">
				<img src="propiedad-limites.png" alt="propiedades de los limites">
			</picture>
			
			<h2 class="title" id="tipos_de_limites">Tipos de límites</h2>
			
			<h3 class="subtitle">Límites Unilaterales</h3>
			<p>
				Un límite unilateral es exactamente lo que podría esperar; el límite de una función a medida que se acerca a un valor x específico desde el lado derecho o el lado izquierdo. Los límites unilaterales ayudan a lidiar con el tema de una discontinuidad de salto y los dos lados no coinciden.
			</p>

			<picture class="content__image">
				<img src="lif-5.png" alt="propiedades de los limites">
			</picture>

			<p>
				
			</p>

			<h3 class="subtitle">Límites con funciones radicales: </h3>
			
			<p>
				Son muchos los problemas que implicarán tomar la enésima raíz de una expresión variable, por lo que es natural que en ocasiones pueda haber la necesidad de encontrar el límite de una función que involucre expresiones radicales, usando raíces cuadradas o cubitas, u otras raíces. <br /> <br /> Al evaluar un límite que involucre una función radical, use la sustitución directa para ver si un límite puede ser evaluado siempre que sea posible. De no ser así, es necesario explorar otros métodos para evaluar el límite.
			</p>

			<picture class="content__image">
				<img src="lif-1.png" alt="propiedades de los limites">
			</picture>

			<picture class="content__image">
				<img src="lif-2.png" alt="propiedades de los limites">
			</picture>

			<p>Por lo tanto,</p>
			
			<picture class="content__image">
				<img src="lif-3.png" alt="propiedades de los limites">
			</picture>

			<p>que se pudo haber determinado evaluando directamente <span>\(f(x)\)</span> a <span>\(x = 9\)</span>, es decir, usando sustitución directa.</p>

			<h3 class="subtitle">Límite infinito: </h3>

			<p>
				La mayoría de las funciones continúan más allá de la ventana de visualización en nuestra calculadora o computadora. La gente suele dibujar una flecha junto a una línea punteada para indicar el patrón específicamente.
			</p>

			<h4 class="tit">Asintotas y comportamiento final de funciones</h4>

			<p>
				Una <strong>asíntota vertical</strong> es una línea vertical como <span>\(x = 1\)</span> que indica dónde no se define una función y, sin embargo, se acerca infinitamente a. <br /> <br /> Una <strong>asíntota horizontal </strong>es una línea horizontal como <span>\(y = 4\)\</span> que indica dónde se aplana una función a medida que x se vuelve muy grande o muy pequeña. Una función puede tocar o pasar a través de una asíntota horizontal. <br /> <br />La función recíproca tiene dos asíntotas, una vertical y otra horizontal. La mayoría de las computadoras y calculadoras no dibujan las asíntotas y por lo tanto deben insertarse a mano como líneas punteadas.
			</p>

			<picture class="content__image">
				<img src="lif-4.png" alt="propiedades de los limites">
			</picture>

			<h2 class="title" id="ejemplos_de_limites">Ejemplos de límites</h2>

			<h3 class="subtitle"> <span class="num">1</span> Calcula el límite:</h3>

			<picture class="content__image">
				<img src="lim-1.png" alt="propiedades de los limites">
			</picture>

			<h4 class="solucion">Solución: </h4>

			<p>Deseamos encontrar el límite</p>

			<picture class="content__image">
				<img src="lim-2.png" alt="propiedades de los limites">
			</picture>

			<p>Notemos, primero, que si "evaluamos en infinito", obtenemos una forma indeterminada:</p>

			<picture class="content__image">
				<img src="lim-3.png" alt="propiedades de los limites">
			</picture>

			<p>Como el valor de <span>\(\infty - \infty\)</span> no está determinadado, necesitamos realizar una manipulación algebraica de nuestra función. <br /> <br /> Antes de hacer la manipulación algebraica, transformemos el límite utilizando la propiedad:</p>

			<picture class="content__image">
				<img src="lim-4.png" alt="propiedades de los limites">
			</picture>

			<p>Con lo que el límite resulta ser:</p>
			
			<picture class="content__image">
				<img src="lim-5.png" alt="propiedades de los limites">
			</picture>

			<p>
				Ahora necesitamos manipular algebraicamente los límites con el fin de eliminar la resta de infinitos. Esto se logra "racionalizando" (es decir, multiplicar y dividir por el conjugado):
			</p>

			<picture class="content__image">
				<img src="lim-6.png" alt="propiedades de los limites">
			</picture>

			<p>
				Observemos que si evaluamos en infinito, volvemos a tener una nueva indeterminación. En este caso se trata de una indeterminación <span>\(\infty / \infty\)</span>. Para deshacernos de esta indeterminación debemos realizar otra manipulación algebraica. En este caso se trata de multiplicar y dividir por <span>\(1/x\)</span>
			</p>

			<picture class="content__image">
				<img src="lim-7.png" alt="propiedades de los limites">
			</picture>

			<p>El cual es el resultado que buscábamos.</p>

			<h3 class="subtitle">
				<span class="num">2</span> Calcula el siguiente límite:
			</h3>

			<picture class="content__image">
				<img src="lim-8.png" alt="propiedades de los limites">
			</picture>

			<h4 class="solucion">Solución: </h4>

			<p>Ahora tenemos el límite:</p>

			<picture class="content__image">
				<img src="lim-9.png" alt="propiedades de los limites">
			</picture>

			<p>Notemos que si evaluamos en infinito directamente, obtenemos:</p>

			<picture class="content__image">
				<img src="lim-10.png" alt="propiedades de los limites">
			</picture>

			<p>Para deshacernos de esta indeterminación podemos sumar las fracciones (utilizando el común denominador)</p>

			<picture class="content__image">
				<img src="lim-11.png" alt="propiedades de los limites">
			</picture>

			<p>
				Como ahora tenemos una indeterminación de la forma <span>\(\infty / \infty\)</span>, entonces buscaremos multiplicar y devidir por un término apropiado para evitar la indeterminación. El término apropiado es el monomio de mayor grado en el numerador o denominador, es decir, <span>\(1/x^2\)</span>. Por lo tanto, nos queda:
			</p>
			
			<picture class="content__image">
				<img src="lim-12.png" alt="propiedades de los limites">
			</picture>

			<p>
				Por lo que el límite es <span>\(-1\)</span>.
			</p>
			

		</section>

		<Modal
			titleSeccion="Videos Relacionados"
			descripcionSeccion="Aqui podras ver videos relacionados con las Funciones 😱"
			img1="https://i3.ytimg.com/vi/Ll7xfe3HoZE/maxresdefault.jpg"
			iframe1="https://www.youtube.com/embed/Ll7xfe3HoZE?si=k-V441Snh9YJXrL2"
			title1="Funciones"
			descripcion1="Explicación de los conceptos de relación y función, con algunos ejemplos con conjuntos, dentro del curso de Funciones."
			img2="https://i3.ytimg.com/vi/bEcZu7HSijw/maxresdefault.jpg"
			iframe2="https://www.youtube.com/embed/bEcZu7HSijw?si=kGbDnYuv5noIwaGm"
			title2="¿QUÉ es UNA FUNCIÓN?"
			descripcion2="En este video estudiaremos en detalle el CONCEPTO DE FUNCIÓN, pero para entender mejor esta idea, primero tenemos que revisar conceptos previos como: par ordenado, producto cartesiano, relaciones y finalmente funciones."
			img3="https://i3.ytimg.com/vi/onh9C8dv9x4/maxresdefault.jpg"
			iframe3="https://www.youtube.com/embed/onh9C8dv9x4?si=UyXlGAprHtpnjDVA"
			title3="Funciones"
			descripcion3="En el video, veremos cómo identificar si una gráfica representa o no a una función o a una relación, así como definir los conjuntos de dominio y rango."
		/>
	</section>
</Layout>
