---
import LayoutTest from "../components/layoutTest.astro";
---

<LayoutTest 
pageTitle="Test Limites"
title="Límites"
>
    

    <ul class="nav__container" slot="nav">
        <li class="nav__item"><a href="testFunciones" class="nav__link">Test Funciones</a></li>
        <li class="nav__item active"><a href="testLimites" class="nav__link active">Test Límites</a></li>
        <li class="nav__item"><a href="testContinuidad" class="nav__link">Test Continuidad</a></li>
        <li class="nav__item"><a href="testDerivadas" class="nav__link">Test Derivadas</a></li>
    </ul>
</LayoutTest>