---
interface Props {
    title: string
}

const {title} = Astro.props
---

<style lang="scss">
    .header {
        position: relative;
        width: calc(100% - 330px);
        height: 240px;
        margin-left: 330px;
        background: linear-gradient(180deg, transparent, rgb(20 10 10)),
            url(https://lenguajehtml.com/assets/header-html.webp) 
            no-repeat 
            center center/cover
        ;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        transition: all 500ms;



        &.active {
            width: calc(100% - 45px);
            left: -285px;
        }


        h1 {
            font-size: 100px;
            text-shadow: 1px 10px rgb(173 71 212);
            text-transform: uppercase;
        }

    }
</style>

<header class="header">
    <h1 class="title">{title}</h1>
</header>